[submodule "cpp_tbx_submodule_adder"]
	path = cpp_tbx_submodule_adder
	url = git@github.com:cpp-toolbox/cpp_tbx_submodule_adder.git
[submodule "sbpt"]
	path = sbpt
	url = git@github.com:cpp-toolbox/sbpt.git
[submodule "process_changes_in_submodules"]
	path = process_changes_in_submodules
	url = git@github.com:cpp-toolbox/process_changes_in_submodules.git
[submodule "clang_formatting"]
	path = clang_formatting
	url = git@github.com:cpp-toolbox/clang_formatting.git
[submodule "cpp_file_generator"]
	path = cpp_file_generator
	url = git@github.com:cpp-toolbox/cpp_file_generator.git
[submodule "ccgen"]
	path = ccgen
	url = git@github.com:cuppajoeman/ccgen.git
[submodule "build_notifier"]
	path = build_notifier
	url = git@github.com:cpp-toolbox/build_notifier.git
[submodule "editor_configurations"]
	path = editor_configurations
	url = git@github.com:cpp-toolbox/editor_configurations.git
[submodule "cpp_project_bootstrapper"]
	path = cpp_project_bootstrapper
	url = git@github.com:cpp-toolbox/cpp_project_bootstrapper.git
[submodule "json_spritesheet_generator"]
	path = textures/json_spritesheet_generator
	url = git@github.com:py-garden/json_spritesheet_generator.git
[submodule "setup/fs_utils"]
	path = setup/fs_utils
	url = git@github.com:py-garden/fs_utils.git
[submodule "texture_packer"]
	path = textures/texture_packer
	url = git@github.com:py-garden/texture_packer.git
